<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>releasetrackr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="wrapper ui two column centered grid container" style="margin-top: 3em;">
        <div class="row">
            <div class="sixteen column">
                <h1 class="ui header centered" style="margin-bottom: 0;">{{.Name}}</h1>
                <h2 class="ui sub header orange centered" style="margin-top: 0;">GitHub releases delivered straight to your inbox</h2>
                <div class="ui divider"></div>
            </div>
        </div>
        <div class="ten column row">
            <div class="ten wide column">
                <p><strong>releasetracker</strong> uses GitHub's API to notify you of new releases of repos you are interested in.</p>
                <p>Simply sign up using the form below, specifying which repo you want to be kept up to date with, and releasetrackr will send you an email every time it detects a new release!</p>
            </div>
        </div>
        <!--<div class="eight column row">
            <div class="four wide column">
                <p class="ui blue sub header" style="text-align: center">Over 80 repos tracked so far</p>
            </div>
            <div class="four wide column">
                <p class="ui blue sub header" style="text-align: center">Over 100 users!</p>
            </div>
        </div>-->
        <div class="sixteen column row">
            <div class="ten wide column">
                <div class="ui icon message">
                    <i class="privacy icon"></i>
                    <div class="content">
                        <div class="header">
                            What data does this service collect?
                        </div>
                        <p>All this service needs is your email address and the repos you'd like to watch for new releases!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sixteen column row">
            <div class="ten wide column">
                <div class="ui icon message">
                    <i class="inbox icon"></i>
                    <div class="content">
                        <div class="header">
                            Will I get spammed?
                        </div>
                        <p>releasetrackr will check for new releases every 2 hours, so if you're following a very active project, you may receive lots of emails!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sixteen column row">
            <div class="ten wide column">
                <div class="validation">
                </div>
                <br>
                <form class="ui form">
                    <div class="field">
                        <label>Email address</label>
                        <input type="text" name="email" placeholder="Email Address">
                    </div>
                    <div class="field">
                        <label>Repo - eg. facebook/react</label>
                        <input type="text" name="repo" placeholder="facebook/react">
                    </div>
                    <div class="field">
                        <div class="g-recaptcha" data-sitekey="6LeLhiUUAAAAAPzGlPrqx9w8vQjfBvaEC834ER1S"></div>
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                    <div class="ui icon info message">
                        <i class="add user icon"></i>
                        <div class="content">
                            To make sure that you own the email address you're subscribing, you'll receive a verification email shortly after submitting the form</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="sixteen column row">
            <p>Made with ❤ in <i class="gb uk flag"></i> by <a class="orange" href="https://twitter.com/mattarnster">@mattarnster</a></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.4.2/semantic.min.js"></script>
    <script type="text/javascript">

        // Create cookie
        function createCookie(name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                expires = "; expires="+date.toGMTString();
            }
            else {
                expires = "";
            }
            document.cookie = name+"="+value+expires+"; path=/";
        }

        // Read cookie
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1,c.length);
                }
                if (c.indexOf(nameEQ) === 0) {
                    return c.substring(nameEQ.length,c.length);
                }
            }
            return null;
        }

        // Erase cookie
        function eraseCookie(name) {
            createCookie(name,"",-1);
        }

        var rtCookie = readCookie('releasetrackr-email');
        if (rtCookie) {
            $('[name="email"]').val(rtCookie);
            $('[name="repo"]').focus();
        } else {
            $('[name="email"]').focus();
        }


        var alreadySubscribed = '<div class="ui icon error message"><i class="warning circle icon"></i><div class="content">You\'re already subscribed to this repository!</div></div>';
        var emailVerification = '<div class="ui icon warning message"><i class="mail outline icon"></i><div class="content">A verification email is on it\'s way! Don\'t close this tab, you can submit the request again after verifying.</div></div>';
        var unknownError = '<div class="ui icon error message"><i class="warning circle icon"></i><div class="content">Sorry, an unknown error occured. Try your request again in 5 minutes.</div></div>';
        var successfulSubscription = '<div class="ui icon success message"><i class="thumbs up outline icon"></i><div class="content">Your request was successful, keep your eyes on your inbox for the next release email!</div></div>';
        var noCaptcha = '<div class="ui icon error message"><i class="warning circle icon"></i><div class="content">Please complete the captcha!</div></div>';

        $('.form').submit(function(e) {
            e.preventDefault();

            $('.validation').empty();

            if (grecaptcha.getResponse() === "") {
                $('.validation').append(noCaptcha);
                return false;
            }


            var email = $('[name="email"]').val();
            var repo = $('[name="repo"]').val();

            $('.form').addClass('loading');

            var json = {
                "email": email,
                "repo": repo,
                "recaptcha_response": grecaptcha.getResponse()
            };

            $.post('/track', JSON.stringify(json))
            .success(function(data, status, xhr) {
                $('.validation').empty();
                $('.validation').append(successfulSubscription);
                
                createCookie('releasetrackr-email', $('[name="email"]').val(), 365);
                
                $('.form').trigger('reset');
                $('.form').removeClass('loading');
                $('[name="email"]').focus();

                var rtCookie = readCookie('releasetrackr-email');
                if (rtCookie) {
                    $('[name="email"]').val(rtCookie);
                    $('[name="repo"]').focus();
                }
            }).fail(function(xhr, status, error){
                if (xhr.status === 409) {
                    $('.validation').append(alreadySubscribed);
                    $('.form').removeClass('loading');
                } else if (xhr.status === 403) {
                    $('.validation').append(emailVerification);
                    $('.form').removeClass('loading');
                } else {
                    $('.validation').append(unknownError);
                    $('.form').removeClass('loading');
                }
            });

            grecaptcha.reset();
        });
    </script>
</body>
</html>